@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header b-l0yelhcuss="">
            </button>  
            <div b-l0yelhcuss="" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <a class="nav-link text-dark" href="/Cart">
            Cart 
            <i class="fa fa-shopping-cart" style="font-size:15px"></i>
        </a>
        <span style="margin-right: 20px;"></span>

         <a class="nav-link text-dark" href="/Subscription">
                    Subscription 
            <i class="fa fa-bar-chart" style="font-size:15px"></i>
        </a>
        <span style="margin-right: 20px;"></span>

        <a class="nav-link text-dark" href="/User">
            User
            <i class="fa fa-odnoklassniki" style="font-size:15px"></i>
        </a>
                
            </ul>

             </div>
             
</header>
 
<div class="text-center">
    <hr>
    <h1 class="display-4">Welcome to WeatherZone</h1>
    <hr>
    <p>
        At WeatherZone, we're dedicated to revolutionizing the way organizations harness weather data.
        Our team of skilled meteorologists, data scientists, and software engineers collaborate to provide cutting-edge solutions
        that empower businesses, research institutions, and government agencies worldwide. We're passionate about helping organizations
        harness the power of their data. With years of experience in data management and analytics, our team is dedicated to providing
        innovative solutions that drive success.
    </p>
</div>


