@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Peculiar Penguins operates this website</p>

<p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you haves associated with that data. We use your data to provide and improve the Service. By using the service, you agree to the collectionand use of information in accordance with this policy.</p>

<h2>Information Collection And Use</h2>

<p>We collect several different types of information for various purposes to provide and improve our service to you.</p>

<h2>Types of Data Collected</h2>

<h3>Personal Data</h3>

<p>While using our service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you (Personal Data). Personally identifiable information may include, but is not limited to:</p>
<ul>
    <li>Email address</li>
    <li>First name and last name</li>
    <li>Phone number</li>
    <li>Adress, State, Province, Zip/Postal, City</li>
</ul>

<h3>Use of Data</h3>

<p>We use the collected data for various purposes:</p>
<ul>
    <li>To provide and maintain our service</li>
    <li>To notify you about changes to our service</li>
    <li>To provide customer support</li>
    <li>To Steal Government Secrets</li>
    <li>To gather analysis or valuable information so that we can improve our service</li>
    <li>To monitor the usage of our service</li>
    <li>to detect, prevent, and address technical issues</li>
</ul>

<h2>Transfer of Data</h2>

<p>Your information, including Personal Data, may be transferred to - and maintained on - computers located outsideof your state, province, country, or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction </p>

<p>If you are located outside Morgantown, WV and choose to provide information to us, please note that we transfer the data, including Personal Data, to Morgantown, WV and process it there.</p>

<p>Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer</p>

<h2>Disclosure of Data</h2>

<h3>We may discuss peronsal information that we collect, or you provide</h3>

<ul>
    <li>Business Transactions.</li>
    <li>Law Enforcement</li>
</ul>

<h2>Changes to This Privacy Policy</h2>

<p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new privacy policy on this page.</p>

<p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>

<h2>Contact Us</h2>

<h3>If you have any questions about this Privacy Policy, please contact us:</h3>

<ul>
    <li>Email: peculiarpenguins@mix.wvu.edu</li>
    <li>Phone: 304-555-1241</li>
</ul>
