@page
@model MIST353Final.Pages.UserModel
@{}
<body>
<h1>Get User Data</h1>
<p>This is designed for an admin to see User data and gain access to user information.</p>
<p>Click Here!</p>

<button onclick="getUserData" >Get User Data</button>
<div id="userData"></div>
<ul>

</ul>

<script>
    
        
    
</script>
</body>